@using System.Threading.Tasks
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DatingSite</title>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="js/lib/shim.min.js"></script>
    <script src="js/lib/zone.min.js"></script>
    <script src="js/lib/Reflect.js"></script>
    <script src="js/lib/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="js/systemjs.config.js"></script>
    <script>
            System.import('app').catch(function(err){ console.error(err); });
    </script>
    <link rel="stylesheet" href="~/css/main.css" />


</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
