################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MusicGitHub/node_modules
/src/MusicGitHub/Properties
